@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
html, body {
    height: 100%;
    margin: 0;
    background-color: #f4deb5;
    padding: 0;
  }
  /* ===== Estilização da Barra de Rolagem (Scroll) ===== */

/* Funciona em Chrome, Edge, e Safari */
::-webkit-scrollbar {
  width: 12px; /* Largura do scroll */
}

::-webkit-scrollbar-track {
  background: #f3deb7; /* A cor do "caminho" do scroll (sua cor de fundo) */
}

::-webkit-scrollbar-thumb {
  background-color: #556b2f; /* A cor da barra de scroll (sua cor principal) */
  border-radius: 20px; /* Deixa a barra com bordas arredondadas */
  border: 3px solid #f3deb7; /* Cria um preenchimento em volta da barra, usando a cor do fundo */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c28762; /* Cor da barra quando o mouse está sobre ela (sua cor de destaque) */
}
